header {
    display: flex;
    align-items: center;
}

img {
    width: 150px;
    height: 150px;
    vertical-align: center;
}

.main {
    overflow: hidden;
    background-color: dimgray;
}

.main-page-content {
    margin-left: 250px;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.sidebar {
    background-color: gray;
    height: 65vh;
    width: 250px;
    padding: 20px;
    float: left;
    text-align: center;
}

footer {
    background-color: black;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: white;
    text-align: center;
}

nav {
    list-style-type: none;
    width: 100%;
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    font-size: 20px;
}

nav li a {
    display: block;
    padding: 25px;
    text-align: right;
    text-decoration: none;
    font-family: "Roboto Light";
    color: white;
}